* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: hsl(240, 2%, 96%);
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.header {
  background: url("images/bg-pattern-intro.svg") no-repeat,
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: 25% 50%;
  padding: 5% 10%;
  border-bottom-left-radius: 100px;
}
/****************nav bar section******************/
.navbar {
  display: flex;
  align-items: center;
}
.logo {
  float: left;
}
.nav-item,
.login-signup {
  display: flex;
  flex: auto;
}
.nav-item {
  margin-left: 3%;
  justify-content: flex-start;
}
.login-signup {
  justify-content: flex-end;
}
.login-signup > button {
  margin-left: 1%;
}
.dropdown {
  margin-left: 2%;
}
.dropdown > button {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}
.dropdown > button:hover {
  text-decoration: underline;
}
.dropdown:hover .dropbtn > img {
  transform: rotate(180deg);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  border-radius: 4px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  font-weight: 700;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar .icon {
  display: none;
  flex: auto;
  justify-content: flex-end;
}
/***************heading section*************/
.heading {
  margin-top: 10%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
}
.heading > h1 {
  font-size: 55px;
  font-weight: 600;
}
.heading > p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1%;
}
/****************header button*************/
.header-btn {
  margin: 6% 0%;
  text-align: center;
}
.header-btn > button {
  width: 125px;
  margin: 5px;
}
.header-btn-1,
.signup-btn {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  width: 125px;
  font-weight: 500;
}
.header-btn-1:hover,
.signup-btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
}
.header-btn-2 {
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  background-color: transparent;
}
.header-btn-2:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
}
.login-btn {
  width: 60px;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}
.login-btn:hover {
  text-decoration: underline;
}
button {
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
button:hover {
  cursor: pointer;
}
/*******************section1*****************/
.sec1 {
  padding: 5% 0%;
  font-family: "Overpass", sans-serif;
  overflow: hidden;
}
.sec1 .container {
  display: flex;
  flex-direction: row;
  transform: translateX(10%);
}
.sec1 .container > h2 {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: hsl(208, 49%, 24%);
  position: absolute;
  left: 35%;
  top: 10%;
  transform: translate(-35%, -10%);
  z-index: 1;
}
.sec1 .left-portion,
.sec1 .right-portion {
  display: flex;
  flex-direction: column;
}
.sec1 .left-portion {
  flex: 45%;
  padding: 16% 8% 0% 0%;
}
.sec1 .title {
  font-size: 25px;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  padding-bottom: 5%;
}
.sec1 .para {
  font-size: 16px;
  font-weight: 300;
  color: hsl(207, 13%, 34%);
  line-height: 1.5;
  padding-bottom: 15%;
}
.right-portion {
  flex: 55%;
}
.sec1 .right-portion > img {
  object-fit: fill;
  width: 115%;
  height: auto;
}
/**************section2***************/
.sec2 {
  background: url("images/bg-pattern-circles.svg") no-repeat,
    linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-position: -40% 90%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.sec2 .container {
  display: flex;
  flex-direction: row;
}
.sec2 .left-portion,
.sec2 .right-portion {
  flex-direction: column;
  flex: 50%;
}
.sec2 .right-portion {
  padding: 9% 12% 10% 0%;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
}
.sec2 .title {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 5%;
}
.sec2 .para {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.sec2 .left-portion > img {
  position: absolute;
  transform: translate(20%, -10%);
  width: 37%;
}
/****************section3*******************/
.sec3 {
  overflow: hidden;
  padding: 6% 0%;
  display: flex;
  flex-direction: row;
  font-family: "Overpass", sans-serif;
  transform: translateX(-10%);
}
.sec3 .left-portion,
.sec3 .right-portion {
  flex-direction: column;
}
.sec3 .left-portion {
  flex: 55%;
}
.sec3 .left-portion > img {
  object-fit: fill;
  width: 115%;
  height: auto;
  transform: translateX(-12%);
}
.sec3 .right-portion {
  flex: 45%;
  padding: 10% 0% 0% 12%;
}

.sec3 .title {
  font-size: 25px;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  padding-bottom: 5%;
}
.sec3 .para {
  font-size: 16px;
  font-weight: 300;
  color: hsl(207, 13%, 34%);
  line-height: 1.5;
  padding-bottom: 15%;
}
/***************footer section*****************/
footer {
  display: flex;
  flex-direction: row;
  font-family: "Overpass", sans-serif;
  padding: 6% 0%;
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 100px;
}
.foot-item1,
.foot-item2,
.foot-item3,
.foot-item4 {
  flex-direction: column;
  flex: 25%;
}
.foot-item1 {
  padding: 3% 0%;
  text-align: center;
}
.ft-head {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  padding-bottom: 5%;
}
.ft-content {
  color: hsl(240, 2%, 79%);
  font-size: 16px;
  font-weight: 300;
}
li {
  list-style-type: none;
  padding: 1% 0%;
}
li:hover {
  cursor: pointer;
  font-weight: 600;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  .navbar .icon {
    display: flex;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .nav-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-53%, 20%);
    background-color: hsl(0, 0%, 100%);
    padding: 6%;
    width: 100%;
    border-radius: 5px;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
    box-shadow: none;
    background-color: hsl(210, 50%, 96%);
    border-radius: 5px;
    font-size: 18px;
    margin: 1% 0%;
  }
  .dropdown-content a {
    text-align: center;
    opacity: 0.8;
  }
  .dropdown-content a:hover {
    opacity: 0.9;
    font-weight: 500;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    color: hsl(208, 49%, 24%);
  }
  .navbar.responsive .login-signup {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    border-top: 1px solid hsl(207, 13%, 90%);
  }
  .navbar.responsive .login-signup > button {
    margin-left: 0%;
  }
  .navbar.responsive .login-btn {
    color: hsl(208, 49%, 24%);
    font-size: 20px;
  }
  .navbar.responsive .dropdown {
    margin-left: 0%;
  }
  .navbar.responsive .dropdown > button {
    font-size: 20px;
  }
  .navbar.responsive .dropdown > button:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .title,
  .para {
    text-align: center;
  }
  .header {
    padding: 10% 6%;
    background-size: 300%;
    background-position: 35% 30%;
  }
  .heading {
    margin-top: 30%;
  }
  .heading > h1 {
    font-size: 37px;
  }
  .heading > p {
    margin-top: 4%;
  }
  .header-btn {
    margin: 12% 0% 20%;
  }
  .sec1 {
    padding: 6%;
  }
  .sec1 .container {
    flex-direction: column-reverse;
    transform: translateX(0%);
  }
  .sec1 .container > h2 {
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    position: relative;
    margin: 15% 0%;
  }
  .se1 .left-portion,
  .se1 .right-portion {
    flex: 100%;
  }
  .sec1 .left-portion {
    padding: 16% 8%;
    text-align: center;
  }
  .sec1 .right-portion > img {
    object-fit: contain;
    width: 100%;
  }
  .sec2 {
    margin-top: 40%;
    background-size: 150%;
    background-position: 58% -300%;
  }
  .sec2 .container {
    flex-direction: column;
    padding: 10% 6%;
  }
  .sec2 .left-portion,
  .sec2 .right-portion {
    flex: 100%;
  }
  .sec2 .right-portion {
    padding: 56% 8% 32%;
    text-align: center;
  }
  .sec2 .left-portion > img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
  }
  .sec3 {
    flex-direction: column;
    transform: translateX(0%);
    margin-top: 20%;
  }
  .sec3 .left-portion,
  .sec3 .right-portion {
    flex: 100%;
  }
  .sec3 .left-portion > img {
    width: 100%;
    transform: translateX(0%);
  }
  .sec3 .right-portion {
    padding: 20% 14%;
    text-align: center;
  }
  footer {
    flex-direction: column;
    text-align: center;
    padding: 12% 6%;
  }
  .foot-item1,
  .foot-item2,
  .foot-item3,
  .foot-item4 {
    flex: 100%;
  }
  .foot-item1 {
    padding: 12% 0%;
  }
  .ft-head {
    padding-top: 10%;
  }
}
