* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.header {
  background-color: brown;
  padding: 5% 8%;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo {
  float: left;
}
.nav-item,
.login-signup {
  display: flex;
  flex: auto;
}
.nav-item {
  margin-left: 3%;
  justify-content: flex-start;
}
.login-signup {
  justify-content: flex-end;
}
.login-signup > button {
  margin-left: 5%;
}
.dropdown {
  margin-left: 5%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar .icon {
  display: none;
  flex: auto;
  justify-content: flex-end;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  .navbar .icon {
    display: flex;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .nav-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 30%);
  }
  .navbar.responsive .dropdown-content {
    position: relative;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
  }
  .navbar.responsive .login-signup {
    flex-direction: column;
  }
  .navbar.responsive .login-signup > button {
    margin-left: 0%;
  }
  .navbar.responsive .dropdown {
    margin-left: 0%;
  }
}
